@import "../beercss/beer.min.css";

.grid {
    .col {
        height: 100%;
        width: 100%;
        a,
        article {
            height: inherit;
            width: inherit;
        }
    }
}

.full-name {
    text-wrap: balance;
}