.grid {
    .col {
        height: 100%;
        width: 100%;

        a,
        article {
            height: inherit;
            width: inherit;
        }
    }
}

.full-name {
    text-wrap: balance;
}

.nav-header {
    nav {
        a:hover {
            text-decoration: underline;
        }
    }
}

img {
    display: inline-block;
    text-align: center;
}

/* utils */
.bg-inherit {
    background-color: inherit;
}

.bold {
    font-weight: bold;
}

.card-title {
    height: 46px;
    border-radius: unset;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

#dmi {
    display: inherit;
}

#lmi {
    display: none;
}

.dark {
    #dmi {
        display: none;
    }

    #lmi {
        display: inherit;
    }
}