.grid {
    .col {
        height: 100%;
        width: 100%;

        a,
        article {
            height: inherit;
            width: inherit;
        }
    }
}

.full-name {
    text-wrap: balance;
}

.nav-header {
    nav {
        a:hover {
            text-decoration: underline;
        }
    }
}

img {
    display: inline-block;
    text-align: center;
}

/* utils */
.bg-inherit {
    background-color: inherit;
}

.bold {
    font-weight: bold;
}

.card-title {
    height: 46px;
    border-radius: unset;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.dark, .light {
    transition: background-color 0.2s ease;
}

.dark :not(.auto) {
    .dark-only {
        display: block;
    }

    .light-only,
    .auto-only {
        display: none;
    }
}

.light :not(.auto) {
    .light-only {
        display: block;
    }

    .dark-only,
    .auto-only {
        display: none;
    }

}

.auto.dark, .auto.light {
    .auto-only {
        display: block;
    }

    .dark-only,
    .light-only {
        display: none;
    }
}

.no {
    display: none !important;
}